/*General Styling*/


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 100%;
  font-family: 'Raleway', sans-serif; 
  color: white;
  
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

h2{

font-size: 2em;

}

/*modules*/

.container {
  /* this class is used to give a max-width to the element it 
  is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/*Main Components*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header #logo {
  float: left;
  margin: 5px 0 0 5%;
}
.header #logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
  .header #logo {
    margin: 15px 0 0 5%;
  }

}

.contact{

background: gold;
opacity: .6;
margin:-1px;

}

.contact a{

color: white;

}


.menu{

margin:-2px;
opacity:.6;

}

.menu a{

color: white;

}

.social{


}
.social ul {

  list-style:none;

  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);


}

.social li{

  display:inline;
}

.social ul.is-visible {


  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.social a {

padding:1px;


}

.social img {

background: white;
border-radius: 50%;
opacity: .6;

}

.icon{
padding-top:2px;

filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
  transition: .5s;
   
}

.icon:hover{


filter: invert(0);
  -webkit-filter: invert(0);
  -moz-filter: invert(0);
  -o-filter: invert(0);
  -ms-filter: invert(0);

}



.button {
  width: 150px; 
  height: 40px; 
  background-color: gold; 
  border: 2px solid gold; 
  text-align: center; 
  line-height: 38px; 
  color: black; 
  position: absolute; 
  z-index: 1; 
  cursor: pointer; 
  margin:-10px;
  margin-left: 20%;
border-radius: 30px 30px 30px 30px;
}

.button:hover {
  background-color: gold; 
  color: purple; 
  border-radius: 30px 30px 30px 30px;
}

blockquote{

background: black;
opacity: .8;
border-radius: 30px 30px 30px 30px;
color: white;
padding: 15px;
margin-top: 20px;
}

.section{

background: black;
opacity: .8;
border-radius: 30px 30px 30px 30px;
color: white;
padding: 15px;
margin-top: 20px;

}


section{

width:  100%;
padding: 2em;

}

nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: black;
  border-top: 1px solid #453c3d;
  color: white;
  opacity: .8;
}

nav a:hover {

    color: red;
  }
@media only screen and (min-width: 768px) {
  nav{
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  nav li {
    display: inline-block;
    margin-left: 1em;
  }
  nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.675rem;
    transition: color .5s ease;
  }
  .no-touch nav a:hover {
    color: yellow;
  }

  .no-touch .contact a:hover{

  color: purple;

  }




}

.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.fixed-bg h1, .fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 2.15rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.fixed-bg h5{

   position: absolute;
  left: 50%;
  top: 60%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 20px;
  font-size: 1.3rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.fixed-bg h6{

   position: absolute;
  left: 50%;
  top: 70%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 20px;
  font-size: 1.3rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}


.fixed-bg.bg-1 {
  background-image: url("../img/bg_sky.jpg");
}
.fixed-bg.bg-2 {
  background-image: url("../img/bg2.jpg");
}
.fixed-bg.bg-3 {
  background-image: url("../img/bg3.jpg");

}
.fixed-bg.bg-4 {
  background-image: url("../img/bg4.jpg");
 
}



@media only screen and (min-width: 768px) {
  .fixed-bg h1, .fixed-bg h2{
    font-size: 60px;
  }

.fixed-bg h5{

  font-size:25px;
  position: absolute;
  left: 50%;
  top: 63%;
}

.fixed-bg h6{

  font-size:25px;
  position: absolute;
  left: 50%;
  top: 70%;
}

.social a {

padding:5px;

}

.contact a{

color: black;

}



}
@media only screen and (min-width: 1170px) {
  .fixed-bg {
    background-attachment: fixed;
  }
  .fixed-bg h1, .fixed-bg h2 {
    font-size: 100px;
    font-weight: 300;
  }

.fixed-bg h5{

  font-size:40px;
  position: absolute;
  left: 50%;
  top: 70%;

}

.fixed-bg h6{

  font-size:40px;
  position: absolute;
  left: 50%;
  top: 80%;

}

.social a {

padding:5px;

}

.contact a{

color: black;

}


}

.scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.scrolling-bg.color-1 {
  background-color: #FFF8F2;
  color: black;
}
.scrolling-bg.color-2 {
  background-color: #FFF8F2;
  color: black;
}
.scrolling-bg.color-3 {
  background-color: #FFF8F2;
  color: black;
}
.scrolling-bg.color-4 {
 background-color: black;
  color: white;
}

@media only screen and (min-width: 768px) {
  .scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 400;
  }

}


/*Gallery Images*/


* {
  box-sizing: border-box;
}

body {
  background: #165783;
}

.title {
  text-align: center;
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0), #444, rgba(0, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  margin-bottom: 0;
  margin-top: -40px;
}


.subtitle{

 text-align: center;
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 2rem;
  letter-spacing: 2px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  margin-bottom: 0;
   margin-top: -10px;

}

@media screen and (min-width: 37.5em) {
  .title {
    font-size: 4.75rem;
  }
}


@media screen and (min-width: 37.5em) {
  p {
    height: 70%;
  }
}

.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all .4s ease;
}
@media screen and (min-width: 37.5em) {
  .case-study {
    height: 300px;
  }
}
@media screen and (min-width: 45em) {
  .case-study {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.case-study__overlay:after {
  content: '';
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .3s ease;
}

.case-study__title {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Raleway';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Raleway';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.case-study__link:hover {
  background-color: white;
  color: #202020;
}

.case-study:hover .case-study__title {
  top: 0;
}
.case-study:hover .case-study__link {
  top: 0;
}
.case-study:hover .case-study__overlay:after {
  opacity: .75;
}

.study1 {
  background-image: url("../img/sketching.jpg");
}

.study2 {
  background-image: url("../img/wireframe.jpg");
}

.study3 {
  background-image: url("../img/infoarch.gif");
}

.study4 {
  background-image: url("../img/research.jpg");
}

.study5 {
  background-image: url("../img/uxflow.png");
}

.study6 {
  background-image: url("../img/axureproto.png");
}

.study7 {
  background-image: url("../img/desktop.png");
}

.study8 {
  background-image: url("../img/plogo.png");
}

.study9 {
  background-image: url("../img/composition.png");
}

.study10 {
  background-image: url("../img/ad.png");
}

.portrait {
  background-image: url("../img/portrait.png");
  filter: sepia(1);
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -ms-filter: sepia(1);
}

.process{

  width: 100%;
  display: block;
  transform: translateY(50%);
  margin: 0 auto;

  filter: hue-rotate(55deg);
  -webkit-filter: hue-rotate(55deg);
  -moz-filter: hue-rotate(55deg);
  -o-filter: hue-rotate(55deg);
  -ms-filter: hue-rotate(550deg);


}

footer{

height: auto;
width: 100%

}

/*ribbon*/

* {
  box-sizing: border-box;
}

.service-graphic {
  font-size: 8px;
  padding: 4em;
  position: relative;
  margin-top:-45px;
  
}
@media screen and (min-width: 38em) {
  .service-graphic {
    font-size: 12px;
  }
}
.service-graphic .monitor {
  width: 28.750em;
  height: 17.5em;
  position: relative;
  background: #f8f8f8;
  border: 0.625em solid #1f1f1f;
  border-radius: 0.625em;
  border: 1.25em solid #1f1f1f;
  margin: 0 auto;
}
@media screen and (min-width: 38em) {
  .service-graphic .monitor {
    border: 1.25em solid #1f1f1f;
  }
}
.monitor > div {
  position: absolute;
}
.monitor:before,
.monitor:after,
.laptop:before {
  content: "";
  position: absolute;
  left: 50%;
}
.monitor:before,
.laptop:before {
  top: -0.25em;
  margin: -0.188em 0 0 -0.188em;
  width: 0.250em;
  height: 0.250em;
  border-radius: 0.250em;
  background: #d8dbe1;
  top: -0.625em;
}
.screen:after {
  width: 0.500em;
  height: 0.500em;
  border-radius: 0.500em;
  margin: 0 0 -0.25em -0.25em;
  background: #e8ebf0;
  bottom: -0.625em;
}
.monitor .content {
  width: 26.25em;
  height: 15em;
  left: 50%;
  margin-left: -13.125em;
  overflow: hidden;
}
.monitor .content:before,
.laptop .screen:before,
.phone .screen:before,
.ipad .screen:before {
  content: "";
  position: absolute;
  right: -5.625em;
  width: 12.500em;
  height: 18.750em;
  transform: rotate(45deg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 5;
}
.browser {
  width: 15em;
  height: 11.250em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5.625em 0 0 -7.5em;
  background: #ffffff;
  border: 1px solid #e8ebf0;
  border-top: 1.25em solid #d8dbe1;
  border-radius: 0.313em;
}
.browser-content {
  overflow: hidden;
  height: 9.938em;
}
.btns {
  position: absolute;
  top: -1.25em;
  left: 0.438em;
}
.btns:before {
  content: "";
  position: absolute;
  left: 2.188em;
  top: 0.313em;
  height: 0.625em;
  width: 11.563em;
  background: #fff;
  border-radius: 3px;
}
.btns > li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  width: 0.313em;
  height: 0.313em;
  border-radius: 0.313em;
  background: #f8f8f8;
  margin-right: 0.250em;
}
.screen .txt {
  margin: 0.625rem auto;
  width: 85%;
  text-align: center;
  font-size: 0;
}
.screen .txt > li {
  background: #e8ebf0;
  width: 100%;
  height: 0.938em;
  margin-bottom: 0.363em;
  font-size: 1rem;
}
.screen .txt > li.big {
  height: 3.750em;
}
.screen .txt,
.phone .txt {
  animation: scroll 4s 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
@keyframes scroll {
  20%,
  60% {
    transform: translateY(-62%);
  }
  80% {
    margin-top: -50px;
  }
}
.screen .txt > .third {
  height: 2.25em;
  width: 30%;
  margin-right: 5%;
  display: inline-block;
}
.screen .txt > li:nth-child(5),
.screen .txt > li:nth-child(10),
.screen .txt > li:nth-child(13),
.screen .txt > li:nth-child(18),
.screen .txt > li:nth-child(21) {
  margin-right: 0;
}
.base {
  width: 5.625em;
  height: 3.1em;
  bottom: -3.9em;
  left: 50%;
  margin-left: -2.8125em;
  background: #e8ebf0;
  bottom: -4.3em;
  z-index: -1;
}
.base:before,
.base:after,
.grey-shadow:before,
.grey-shadow:after {
  content: "";
  position: absolute;
  top: 0;
}
.base:before {
  border-left: 0.813em solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 3.125em solid #e8ebf0;
  left: -0.77em;
}
.base:after {
  border-right: 0.813em solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 3.125em solid #e8ebf0;
  right: -0.77em;
}
.base > div {
  position: absolute;
}
.grey-shadow {
  width: 5.625em;
  height: 0.750em;
  background: #d8dbe1;
  top: 0;
}
.grey-shadow:before {
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0.75em solid #d8dbe1;
  left: -3px;
}
.grey-shadow:after {
  border-right: 3px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 0.75em solid #d8dbe1;
  right: -2px;
  z-index: 1;
}
.foot {
  background: #e8ebf0;
}
.foot.top {
  width: 7.250em;
  height: 0.313em;
  bottom: -0.3em;
  left: 50%;
  margin-left: -3.625em;
}
.foot.top:before,
.foot.top:after,
.foot.bottom:before {
  content: "";
  position: absolute;
  top: 0px;
}
.foot.top:before {
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  left: -16px;
}
.foot.top:after {
  border-right: 1em solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 5px solid #e8ebf0;
  right: -1em;
}
.foot.bottom {
  width: 9.375em;
  height: 0.313em;
  bottom: -0.625em;
  left: 50%;
  margin-left: -4.688em;
}
.laptop {
  width: 14.688em;
  height: 9.688em;
  background: #f8f8f8;
  border: 0.75em solid #1f1f1f;
  border-radius: 0.625em 0.625em 0 0;
  position: absolute;
  top: 14.5em;
  right: 1.875em;
  right: 50%;
  margin-right: -19.5em;
  z-index: 10;
}
.laptop:before {
  top: -0.3em;
}
.laptop > div {
  position: absolute;
}
.laptop > .screen {
  width: 13.188em;
  height: 8.188em;
  left: 0;
  margin-left: 0;
  background: #fff;
  overflow: hidden;
}
.btm {
  width: 18.500em;
  height: 0.625em;
  bottom: -1.188em;
  left: 50%;
  margin-left: -9.25em;
  border-radius: 0 0 20px 20px;
  background: #e8ebf0;
  z-index: 1;
}
.btm:before {
  content: "";
  position: absolute;
  width: 2.625em;
  height: 0.250em;
  left: 50%;
  top: 0;
  margin-left: -1.313em;
  border-radius: 0 0 0.313em 0.313em;
  background: #d8dbe1;
}
.btm:after {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  background: #bababa;
  top: .5rem;
  border-bottom-right-radius: 7.5rem 2.5rem;
  border-bottom-left-radius: 7.5rem 2.5rem;
}
.phone {
  width: 4.125em;
  height: 8.750em;
  position: absolute;
  top: 15.75em;
  left: 1em;
  left: 50%;
  margin-left: -20.5em;
  border-radius: 0.5em;
  background: #1f1f1f;
  border: 1.563em solid #1f1f1f;
  border-left: 0.313em solid #1f1f1f;
  border-right: 0.313em solid #1f1f1f;
  margin-left: ;
}
.phone:before,
.phone:after {
  content: "";
  position: absolute;
  left: 50%;
  background: #474e5d;
}
.phone:before {
  background: #474e5d;
  width: 1.250em;
  height: 0.250em;
  margin-left: -0.625em;
  top: -0.75em;
  border-radius: 2px;
}
.phone:after {
  width: 0.625em;
  height: 0.625em;
  border-radius: 0.625em;
  bottom: -1.125em;
  margin-left: -0.313em;
}
.phone .screen {
  width: 3.50em;
  height: 5.625em;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.phone .txt > li {
  height: 1.1250em;
}
.screen .txt > li.txt-half {
  width: 46%;
  margin-right: 8%;
  display: inline-block;
}
.screen .txt > li.txt-half:nth-of-type(even) {
  margin-right: 0;
}
.ipad {
  width: 8.75em;
  height: 12.750em;
  position: absolute;
  top: 11.7em;
  left: 6em;
  left: 50%;
  margin-left: -15.5em;
  border-radius: 0.5em;
  background: #1f1f1f;
  border: 1.563em solid #1f1f1f;
  border-left: 0.313em solid #1f1f1f;
  border-right: 0.313em solid #1f1f1f;
}
.ipad:before,
.ipad:after {
  content: "";
  position: absolute;
  left: 50%;
  background: #474e5d;
}
.ipad:before {
  background: #474e5d;
  width: 1.250em;
  height: 0.250em;
  margin-left: -0.625em;
  top: -0.75em;
  border-radius: 2px;
}
.ipad:after {
  width: 0.625em;
  height: 0.625em;
  border-radius: 0.625em;
  bottom: -1.125em;
  margin-left: -0.313em;
}
.ipad .screen {
  width: 8em;
  height: 9.8em;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.ipad .content {
  width: 100%;
  left: 0%;
  margin-left: 0px;
}
.ipad li.txt-half {
  height: 35px;
}




/* -- Circular Work -- */


.fmcircle_out {
  width: 200px;
  height: 200px;
 background: rgba(0,0,0,0.8);
   text-align: center;
  display: block;
  opacity: 0.5; 
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

  .fmcircle_out:hover {
    opacity: 1; 
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .fmcircle_out:hover .fmcircle_in img {
    margin: 30px 25px 25px 25px;
    width: 120px;
    height: 120px;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  


.fmcircle_in {
  width: 170px;
  height: 170px;
  margin: 15px;
  display: inline-block;
  overflow: hidden;
  
  border-radius: 85px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  -o-border-radius: 85px;
}

.fmcircle_in img {
  border: none;
  margin: 53px;
  width: 64px;
  height: 64px;
    
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fmcircle_in span {
  border: 0;
  color: #fff;
  margin: 70px 0 0 0;
  padding: 40px;
  padding-top: -60px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.08em;
  float: left;
  position: absolute;
  opacity: 0;
  
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
    
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

  .fmcircle_out:hover .fmcircle_in span {
    opacity: 1;
    
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

/*** Base64 Patterns ***/

.fmcircle_blue {
background: cornflowerblue

}

.fmcircle_grey {
background: grey
}

.fmcircle_green {
background: lime
}

.fmcircle_gold {
background: gold;

}

.fmcircle_red {
background: crimson;

}

/*footer*/


.footer-logo{

width: 70%;
height: 70%;
position: relative;
margin: 15%;

}

