/*General Styling*/


html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 100%;
  font-family: 'Raleway', sans-serif; 
  color: #3d3536;
  
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}

/*modules*/

.container {
  /* this class is used to give a max-width to the element it 
  is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}

.container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/*Main Components*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(38, 141, 218, 0.88);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header #logo {
  float: left;
  margin: 13px 0 0 5%;
}
.header #logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 70px;
  }
  .header #logo {
    margin: 23px 0 0 5%;
  }
}

nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url("../img/icon-menu.svg") no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}
nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #a6989a;
}
@media only screen and (min-width: 768px) {
  nav{
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  nav li {
    display: inline-block;
    margin-left: 1em;
  }
  nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.675rem;
  }
  .no-touch nav a:hover {
    color: white;
  }
}

.main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1;
}

.fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.fixed-bg h1, .fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}
.fixed-bg.bg-1 {
  background-image: url("../img/bg1.jpg");
}
.fixed-bg.bg-2 {
  background-image: url("../img/background-2.jpg");
}
.fixed-bg.bg-3 {
  background-image: url("../img/background-3.jpg");
}
.fixed-bg.bg-4 {
  background-image: url("../img/background-4.jpg");
}
@media only screen and (min-width: 768px) {
  .fixed-bg h1, .fixed-bg h2 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 1170px) {
  .fixed-bg {
    background-attachment: fixed;
  }
  .fixed-bg h1, .fixed-bg h2 {
    font-size: 100px;
    font-weight: 300;
  }
}

.scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.scrolling-bg.color-1 {
  background-color: #165783;
  color: #a6989a;
}
.scrolling-bg.color-2 {
  background-color: #165783;
  color: #a6989a;
}
.scrolling-bg.color-3 {
  background-color: #165783;
  color: #a6989a;
}
@media only screen and (min-width: 768px) {
  .scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}
